@import "_variables";

#main-header {
    background-color: $background-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
}

#logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px 0;

    color: $text-black;
    text-decoration: none;

    .logo-img {
        height: 48px;
        width: auto;
        mix-blend-mode: multiply;
    }

    .logo-text {
        font-family: 'Trust3A-XBold', sans-serif;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
    }

    &:hover {
        color: $text-hover-color;
    }
}

#main-nav {

    ul {
        list-style: none;
        height: 100%;

        display: flex;
        align-items: stretch;

        font-weight: 500;
    }

    li {
        position: relative;
        height: 100%;

        &:hover {
            color: $text-hover-color;
            background: $tertiary-color;

            .submenu {
                display: block;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 0 1em;
        height: 100%;
        white-space: nowrap;
        text-align: right;
    }

    span {}

    .submenu {
        display: none;
        position: absolute;
        right: 0;

        background: $tertiary-color;
        border-bottom: $primary-color 2px solid;

        ul {
            flex-direction: column;
        }

        li {
            display: block;
        }

        a {
            flex-direction: column;
            align-items: end;
            padding: 0.5em 1em;
        }
    }
}