@use "../variables" as *;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $spacing-sm;
}
