{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block content %}
<div class="container blog-listing">
  <header class="section-header">
    <h1>{{ section.title }}</h1>
    <p>{{ section.description }}</p>
  </header>

  <div class="blog-posts">
    {% for page in section.pages %}
    <article class="blog-post-preview">
      {% if page.extra.blog_image %}
      <div class="post-thumbnail" data-image-position="{{ page.extra.image_position | default(value='center') }}">
        <a href="{{ page.permalink }}">
          <img src="{{ get_url(path=page.extra.blog_image) }}" alt="Thumbnail for {{ page.title }}">
          <div class="title-overlay">
            <h2>{{ page.title }}</h2>
            <div class="post-meta">
              {% if page.extra.author %}
              {% set author = config.extra.authors[page.extra.author] %}
              {% if author.image %}
              <img src="{{ get_url(path=author.image) }}" alt="{{ author.name }}" class="author-image">
              {% endif %}
              <span class="author">
                {{ author.name }}
              </span>
              {% endif %}
              <time datetime="{{ page.date }}">{{ page.date | date(format="%Y/%m/%d") }}</time>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
      {% endif %}
      <a href="{{ page.permalink }}" class="read-more">Read More →</a>
    </article>
    {% endfor %}
  </div>
</div>
{% endblock %}