<header id="main-header">
  <div class="container">
    <a id="logo" href="{{ config.base_url }}">
      <img src="{{ get_url(path='image/logo.small.png') }}" alt="{{ config.title }}" class="logo-img" />
      <span class="logo-text">{{ config.title }}</span>
    </a>
    <button id="mobile-menu-toggle" class="mobile-menu-toggle" aria-label="Toggle mobile menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="main-nav">
      <ul>
        {% for item in config.extra.menu %}
        {% if 'desktop' in item.show_in %}
        <li class="{% if item.submenu %} has-submenu{% endif %}">
          <a href="{{ item.url | safe }}" {% if item.submenu %} class="submenu-toggle" {% endif %}><span>{{ item.name
              }}</span></a>
          {% if item.submenu %}
          <nav class="submenu">
            <ul>
              {% for subitem in item.submenu %}
              <li>
                <a href="{{ subitem.url | safe }}"><span>{{ subitem.name }}</span></a>
              </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>