@use "../variables" as *;

#main-nav {
    display: flex;
    align-items: center;

    ul {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 500;
    }

    li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            color: $text-hover-color;
            background: $tertiary-color;

            .submenu {
                display: block;
            }
        }
    }

    // Make nav links more visible
    a {
        display: flex;
        align-items: center;
        padding: 0 1em;
        height: 100%;
        min-height: 44px; // Touch target
        white-space: nowrap;
        text-align: right;
        color: $text-black; // Darker for better contrast
        font-weight: 600;
    }

    .submenu {
        display: none;
        position: absolute;
        right: 0;
        background: $tertiary-color;
        border-bottom: $primary-color 2px solid;

        ul {
            flex-direction: column;
        }

        li {
            display: block;
        }

        a {
            flex-direction: column;
            align-items: end;
            padding: 0.75em 1em;
            min-height: 44px; // Touch target
        }
    }
}

.main-nav {
    position: relative;
    z-index: 100;

    .nav-item.dropdown {
        position: relative;

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $background-color;
            box-shadow: $shadow-dropdown;
            min-width: 200px;
            border-radius: $border-radius-sm;
            padding: $spacing-xs 0;
            z-index: 1000;

            li {
                display: block;
                margin: 0;

                a {
                    padding: $spacing-xs $spacing-sm;
                    display: block;
                    color: $text-color;
                    text-decoration: none;
                    font-weight: normal;

                    &:hover {
                        background-color: darken($background-color, 5%);
                        color: $primary-color;
                    }
                }
            }
        }

        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .hide-mobile {
        display: none !important;
    }

    .main-nav {
        ul {
            gap: $spacing-sm;
        }
    }

    .always-show {
        display: block !important;
    }
}
